<div class="box_general padding_bottom">
        <div class="header_box version_2">
          <h2><i class="fa fa-bar-blogger"></i>Recent Blogs</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="item-preview mb-5">
                <a class="item-preview-img box-shadow-lg d-block mb-3" href="/themes/clean-blog">
                <img class="img-fluid" src="/panel/img/clean-blog.png" alt="Free Bootstrap Blog Theme - Start Bootstrap">
                </a>
                <div class="item-preview-title">Clean Blog</div>
                <div class="item-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="item-preview mb-5">
                  <a class="item-preview-img box-shadow-lg d-block mb-3" href="/themes/clean-blog">
                  <img class="img-fluid" src="/panel/img/clean-blog.png" alt="Free Bootstrap Blog Theme - Start Bootstrap">
                  </a>
                  <div class="item-preview-title">Clean Blog</div>
                  <div class="item-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="item-preview mb-5">
                    <a class="item-preview-img box-shadow-lg d-block mb-3" href="/themes/clean-blog">
                    <img class="img-fluid" src="/panel/img/clean-blog.png" alt="Free Bootstrap Blog Theme - Start Bootstrap">
                    </a>
                    <div class="item-preview-title">Clean Blog</div>
                    <div class="item-preview-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                  </div>
                </div>
          </div>
              </div>
      </div>